.header {
  background: $primary-color;
  overflow: hidden;
  padding: 32px 64px 64px 64px;
  border-radius: 0 0 64px 64px;
  text-align: center;
  h1 {
    margin: 0 0 32px 0;
  }
  @media (max-width: 640px) {
    padding: 24px 24px 64px 24px;
    border-radius: 0 0 32px 32px;
    h1 {
      font-size: 24px;
    }
  }
  @media (max-width: 320px) {
    padding: 24px 24px 48px 24px;
    h1 {
      font-size: 20px;
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  li {
    a {
      padding: 16px 48px;
      border-radius: 32px;
      color: #232323;
      &:hover {
        color: $primary-color;
        background: #fff;
      }
      &.active {
        color: $primary-color;
        background: #fff;
        font-weight: bold;
      }
    }
  }
  @media (max-width: 640px) {
    li {
      a {
        padding: 16px 24px;
      }
    }
  }
}

.main-container {
  margin: -64px auto 0 auto;
  .page {
    border-radius: 64px;
    padding: 64px;
    background: #fff;
    min-height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    @media (max-width: 640px) {
      padding: 48px 32px;
      margin: 0 32px;
    }
    @media (max-width: 480px) {
      padding: 48px 24px;
      margin: 0 24px;
    }
  }
}

.footer {
  text-align: center;
  font-size: 14px;
  padding: 32px;
}

.page-contents {
  text-align: left;
}

.home {
  text-align: center;
  .message {
    font-size: 22px;
    b {
      color: #f1b607;
    }
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}

.separator {
  text-align: center;
  margin: 32px 0;
  opacity: 0.5;
  @media (max-width: 480px) {
    img {
      width: 75%;
      display: block;
      margin: 0 auto;
    }
  }
}

.decorator {
  text-align: center;
  margin: 0 0 32px 0;
  opacity: 0.5;
  &.bottom {
    transform: scaleY(-1);
    margin: 32px 0 0 0;
  }
  @media (max-width: 480px) {
    img {
      width: 75%;
      display: block;
      margin: 0 auto;
    }
  }
}

.actions {
  a {
    padding: 12px 16px;
    display: inline-block;
    border: 1px solid $primary-color;
    margin: 0 8px;
    border-radius: 23px;
    background: $primary-color;
    color: #232323;
  }
  @media (max-width: 480px) {
    margin: 0 0 48px 0;
    a {
      width: 80%;
      display: block;
      margin: 16px auto;
      padding: 16px;
      font-size: 18px;
    }
  }
}
